@model CarRental.ViewModels.RandomCarViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}


<h2 class="@className">@Model.Car.Name</h2>

@if (Model.Customers.Count() == 0)
{
    <p>No one has rented before this car.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>
        }

    </ul>

}


